# Solana
SOLANA_RPC_URL=https://api.devnet.solana.com
SEMS_PAY_PROGRAM_ID=FXgwKkCBThKpEtk4Vs22MJCJbBUEmJvMvKGJaLCuxgED
ADMIN_PRIVATE_KEY=[]

# Jupiter
JUPITER_API_URL=https://ultra-api.jup.ag

# Server
PORT=3001
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000

# Resolution fee (in lamports, e.g. 5000 = 0.000005 SOL)
RESOLUTION_FEE_LAMPORTS=5000
